
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Panels */

@media(min-width:771px){
  .joy-primary-pane {
    width: 50% !important;  
  }

  .joy-secondary-pane {
    width: 50% !important;  
  }
}

/* Hero Section */

#wedding-names {
  display:none !important;
  font-family: 'Amiri', serif;
}

#wedding-message {
  display:none !important;
}

#welcome .welcomeDetails {
  display:none !important;
}





